body {
    background-color: #EEEEEE;
    padding-left: 50px;
    padding-right: 5px;
    background-image: url('http://irinaciocan.ro/imagini/gri.png'),
        url('http://www.irinaciocan.ro/tehnici_web/imagini/carouri.png'),
        url('http://irinaciocan.ro/tehnici_web/imagini/mazgaleala.png');
    background-repeat: repeat-y, repeat, repeat;
    background-position: 40px 0, -10px -10px, 0 0;
}

#orange {
    color: orange;
    font-weight: bold;
    text-decoration: underline overline;
}

p {
    color: green;
    font-family: 'Comic Sans MS';
}

h1 {
    color: red;
    text-decoration: underline;
}

/* imediat dupa */
h3+p {
    border: 2px dotted blue;
    color: fuchsia;
}

/* paragrafele surori cu h3 */
h3~p {
    color: rgb(0, 95, 76);
    background-image: url('http://irinaciocan.ro/tehnici_web/imagini/backgr_pas3.png');
    background-attachment: fixed;
}

.c1 {
    background-color: violet;
}

.c2 {
    font-style: italic;
    background-color: yellow;
    text-decoration: line-through;
}

h3.c3 {
    background-color: orange;
    font-variant: uppercase;
}

.c3 {
    background-color: lime;
    font-variant: small-caps;
    text-decoration: overline;
}

.c2.c3 {
    font-style: normal;
    color: rgb(220, 20, 60);
}

/* fii din tot arborele */
#abc p {
    box-shadow: red 10px 10px 5px;
}

/* fii directi */
#abc>p {
    box-shadow: green 10px 10px 5px;
    text-shadow: red 3px 3px 3px;
}

/* 18 */
ol li {
    list-style-type: lower-alpha;
    border: ridge 4px purple;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* 19 */
p[title]::first-letter {
    font-size: 20px;
}

p[title="altceva"]:hover {
    color: pink;
}

p[title="altceva"]:hover+* {
    visibility: hidden;
}

/* 22 */
/* de la al doilea paragraf */
/* p:nth-of-type(n+2) */
p+p {
    text-indent: 25px;
}

/* 23 */
/* nth-child(2n) sau 2n+1 */
ol li:nth-child(even) {
    text-align: right;
}

section:first-of-type {
    border-top: green 4px dashed;
    border-left: green 4px dashed;
}

/* :nth-child(1) */
/* genereaza inaintea primului paragraf */
section>:first-child:after {
    content: 'primul';
}

/* se pune before pentru fiecare */
h1:before,
h2:before,
h3:before {
    content: url('http://irinaciocan.ro/imagini/foarte_zambaret.png')
}

/* selector de atribute, not merge doar cu selectori simpli (nu se pune cu virgula) */
p:not([class]):not([id]) {
    cursor: crosshair;
}

* {
    outline: 2px blue dashed;
}

section#abc:hover>section>p:not([title])+p {
    letter-spacing: 15px;
}

